
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #1c2b3a;
  color: rgba(255, 255, 255, 0.25);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-box {
  position: relative;
  min-width: 300px;
  max-width: 600px;
  min-height: 300px;
  margin: 0 auto;
  margin-top: 100px;

}

.input-box {
  position: relative;
  width: 100%;
  padding: 20px 20px;
}

.inputTodo {
  position: relative;
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #1d2b3a;
  letter-spacing: 1px;
  font-size: 18px;
  border-radius: 5px;
  color: #fff;
  outline: none;
  transition: 1.5s ease-in-out;
}

.input-box span {
  position: absolute;
  left: 30px;
  color: rgba(255, 255, 255, 0.25);
  transform: translate(10px, -7px);
  font-size: 12px;
  padding: 0 10px;
  text-transform: uppercase;
  background: #1d2b3a;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  letter-spacing: 3px;
  transition: 1.5s ease-in-out;
}

.inputTodo:focus~ span {
  transform: translateX( 400px );
  color: LightSeaGreen;
  border-left: 1px solid LightSeaGreen;
  border-right: 1px solid LightSeaGreen;
}

.inputTodo:focus {  
  border-color: LightSeaGreen;
}

.buttons-box {
  display: flex;
  justify-content: space-around;
  background: #1d2b3a;
  padding: 5px;
}

.buttons-box button,
.todo-list button {
    float: right;
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: transparent;
    border-radius: 5px;
    transition: all .3s linear;
    cursor: pointer;
}

.buttons-box button:hover,
.todo-list button:hover  {
  color: LightSeaGreen;
  border-color: lightseagreen;
}

.buttons-box button:focus,
.todo-list button:focus  {
  color: LightSeaGreen;
  border-color: lightseagreen;
}


.info-left {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.25);
}


input[type="checkbox"]
{
    position: relative;
    top: 10px;
    width: 33px;
    height: 33px;
    margin-right: 10px;
    -webkit-appearance: none;
    outline: none;
    transition: .5s;
    cursor: pointer;
}
input[type="checkbox"]::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.25);
    box-sizing: border-box;
    transition: .5s;
}
input:checked[type="checkbox"]::before
{
   border-left: none;
   border-top: none;
   width: 10px;
   border-color: #0f0;
   transform: rotate(45deg) translate(5px, -10px);
}

label
{
    font-size: 20px;
    font-family: sans-serif;
}

.todo-list {
  padding: 10px;
}

.text {
  transition: color .5s;
  
}
